#container {
    width: 400px;
    background-color: aquamarine;
    padding: 20px;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list {
    margin: 15px 0;
}

.list > li {
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.btn > button {
    padding: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

button.delete {
    background-color: burlywood;
    border: none;
    width: 30px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}